.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarPhoto {
  height: 100%;
  width: auto;
}

span {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: darkslateblue;
}
.selectedPage {
  font-weight: bold;
  background-color: goldenrod;
}
